spring:
  main:
    web-application-type: reactive
  application:
    name: genai-service
  profiles:
    active: production
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/},optional:classpath:/creds.yaml

  ai:
    google:
      ai:
        gemini:
          api-key: ${AIzaSyBjGchKstZCRIxAVWPQRuJdMvQ_zDJicMM}          # 这里放 Google AI Studio 的 Key（环境变量）
          chat:
            options:
              model: gemini-2.5-flash         # 或 gemini-1.5-pro / gemini-2.0-flash，看你权限
              temperature: 0.7

logging:
  level:
    org.springframework.ai: INFO
    org.springframework.ai.chat.client.advisor: DEBUG

---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888
